.game-container {
    width: 500px;
    height: 100vh;
    position: absolute;
	left: 80px;
}

.border-left {
	width: 80px;
	height: 100vh;
	position: absolute;
	background-color: white;
	z-index: +2;
}

.rightSection {
	width: calc(100% - 60px - 850px);
	height: 100vh;
	position: absolute;
	background-color: white;
	z-index: +1;
	left: 665px;
	top: 0px;
  }

.border-right {
	width: 80px;
	height: 100vh;
	position: absolute;
	background-color: white;
	z-index: +2;
	left: 580px;
}

.border-top {
	width: 660px;
	height: 50px;
	position: absolute;
	background-color: white;
	z-index: +2;
	top: -50px;
}

.sky {
	background-image: url(../images/game-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 500px;
	height: 580px;
	position: absolute;
}

.ground {
	background-image: url(../images/frontground.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 500px;
	height: 140px;
	position: absolute;
	top: 580px;
	z-index: +1;
}

.bird {
	background-image: url(../images/flappy-bird.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 45px;
	position: absolute;
}

.obstacle-bottom {
	width: 60px;
	height: 300px;
	position: absolute;
	background-image: url(../images/flappybird-pipe.png);
	background-repeat: no-repeat;
}

.obstacle-top {
	width: 60px;
	height: 300px;
	position: absolute;
	background-image: url(../images/flappybird-pipe.png);
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.title {
	margin: 60px 20px 20px;
	color: #533c44;
	font-size: 4vw;
	text-shadow: 2px 2px #dadada;
	text-align: center;
	width: 600px;
}
  
.instruction {
	margin: 0px 20px 0px;
	text-align: center;
	width: 600px;
	font-size: 25px;
}

.my-score {
	font-size: 22px;
	margin-top: 1%;
	color: #533c44;
}
  
.scoreboard {
	position: relative;
	max-width: 450px;
	margin: 20px 20px 20px 80px;
	padding: 20px;
	background-color: #ded895;
}

.scoreboard:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 10px;
	display: block;
	width: calc(100% - 20px);
	height: calc(100% - 4px);
	border-top: 2px solid #b1878f;
	border-bottom: 2px solid #b1878f;
	z-index: 1;
}
  
.scoreboard:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0px;
	display: block;
	width: calc(100% - 4px);
	height: calc(100% - 20px);
	border-left: 2px solid #b1878f;
	border-right: 2px solid #b1878f;
	z-index: 1;
}

.score-title {
	margin: 0 0 0;
	font-family: "VT323", monospace;
	font-size: 3em;
	text-align: center;
	color: #ee5140;
	text-shadow: 2px 2px #f0eaa1;
}
  
.top-score {
	text-align: center;
	font-size: 48px;
	color: #533c44;
	position: relative;
    height: 100px;
    max-height: 250px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    z-index: 2;
}