.hide {
  	display: none;
}

.show {
  	display: block;
}

body {
  	background-color: rgb(154, 218, 168);
}

.btn {
	padding: 15px;
	background-color: black;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
}

.btn:hover {
  	background-color: chartreuse;
}

.start-screen,
.end-screen {
	text-align: center;
	margin-top: 200px;
}

.game-area {
	margin: 15px auto;
	width: 300px;
	height: 630px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
}

.score {
  	float: left;
}
