body{
    background-color: powderblue;
    margin: 100px 0 0 100px;
    font-family: Brush Script MT, Lucida ;
    text-transform: uppercase;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    text-transform: uppercase;
}

.profile {
    width: 50%;
}

.user-info {
    float: left;
}

.pro-pic {
    float: right;
}

table {
    color: darkgreen;
    text-transform: capitalize;
    width: 50%;
    text-align: center;
}

table th {
    color:limegreen;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: darkgreen
}

a:hover {
    color: yellow;
}