.navbar{
    background-image: none;
    background-color: rgba(249, 250, 253, 0);
    align-items: center;
}

.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu{
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.2rem;
    float: right;
    color: #212832;
    border-color: rgba(0,0,0,0.1);
}

.menu:hover{
    text-decoration: none;
}

.hamburger-menu{
    background: url(../images/hamburger.svg) no-repeat;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.bg-holder{
    background-image: url(../images/hero-bg.svg);
    /* display: none; */
}

.hero-image{
    width: 105%;
    margin-left: -1.7rem;
    padding-top: 4rem;
}

.tagline{
    color: #DF6951 !important;
    font-size: 1.4rem;
    font-weight: 700 !important;
    margin-bottom: 1rem !important;
}

.hero-description{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    text-align: center;
}

.hero-title{
    margin-top: 0;
    line-height: 1.2;
    /* font-family: "Volkhov","DM Serif Display",cursive; */
    font-weight: 700;
    font-size: 2.88651rem;
    color: #181E4B;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
}

.hero-title::before{
    content: '';
    position: absolute;
    right: 0.9375rem;
    top: 2.5rem;
    width: 20rem;
    height: 0.8125rem;
    background-image: url(../images/shape.svg);
    background-size: contain;
    z-index: -1;
}

.desc{
    font-weight: 500;
    font-size: 16px;
    color: #5E6282;
    margin-bottom: 1.8rem;
}


.menu{
    font-weight: bold;
    display: block;
    margin: 0px auto;
    text-align: center;
    /* padding: 3px 10px; */
}
.menu ul{
    font-weight:lighter;
    display: none;
    list-style:none;
    margin: 0px;
    padding: 0px;
}
.menu:hover ul{
    display: block;
}
.menu ul li:first-child{
    border-top:1px solid;
}
.menu ul li{
    padding: 10px;
    font-size: 11px;
}
.menu ul li:hover{
    background-color: #7dd9e8;
}
.menu ul li a{
    display: block;
}

.cta{
    margin-bottom: -4rem;
}

.play-button{
    margin-left: -2rem;
    margin-bottom: -7rem;
}

.services, .destinations, .booking, .testimonial, .partners, .subscribe, .footer {
    padding-top: 2.5rem !important;
    position: relative;
    padding-bottom: 3rem;
}

.category-shape{
    z-index: -1;
    right: 0 !important;
    position: absolute !important;
    display: none;
}

.section-content{
    text-align: center;
    margin-bottom: 4rem !important;
}

.section-head{
    color: #5E6282 !important;
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.section-desc{
    font-family: "Volkhov","DM Serif Display";
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 2.2807rem !important;
    line-height: 1.2;
    color: #14183E;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.mb-6{
    margin-bottom: 3rem !important;
}

.card{
    border:none;
    text-align: center;
    border-radius: 2.25rem !important;
    position: relative;
    background-color: #FFFEFE;
    background-clip: border-box;
}

.card-body{
    padding: 1.8rem !important;
}

.heading {
    margin-bottom: 1rem !important;
    font-size: 1.3rem;
    color: #14183E;
}

.sub-heading{
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    font-size: 1.1rem;
}

.card-img-top{
    border-top-left-radius: calc(1.5rem - 1px);
    border-top-right-radius: calc(1.5rem - 1px);
    width: 100%;
}

.py-4 {
    padding-top: 1.8rem !important;
    padding-bottom: 1.8rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.mb-4{
    margin-bottom: 1.8rem;
}

.text-start{
    text-align:left;
}

.bg-primary{
    background-color: #F1A501;
}

.bg-danger{
    background-color: #DF6951;
}

.bg-danger img{
    height: 22px;
}

.bg-info{
    background-color: #006380;
}

.p-3 {
    padding: 1rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.br-1{
    border-radius: 13px;
    float: left;
}

.easy-steps{
    margin-bottom: 2.5rem;
}

.card-background{
    position: absolute;
    right: -160px;
    top: -210px;
    z-index: -1;
    margin-right: 10rem;
}

.card-background img{
    max-width: 550px;
}

.rounded-2 {
    border-radius: 1.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}
.w-100 {
    width: 100% !important;
}

.icon-item{
    border-radius: 50%;
    color: #080809;
    background-color: #eee;
    height: 2.5rem;
    width: 2.5rem;
    border: 0;
    font-size: .875rem;
}

.icon-item img{
    padding: 0.76rem;
}

.icon-group .icon-item:not(:last-child) {
    margin-right: 1.8rem;
}

.ml-7{
    margin-left: 7.3rem;
}

.form-bg{
    background-color: #ffffff;
    border-radius: 10px;
    color: #39425D;
    padding: 1rem 1rem 1rem 2.7rem;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.input-box-icon{
    position: absolute;
    top: 57.5%;
    left: 4.5rem;
    color: #212529;
}

.bg-orange{
    background-image: linear-gradient(to bottom, #FF946D, #FF7D68);
    border: none;
    border-radius: 0.625rem;
    padding: 1rem 2.5rem;
    color: white;
    font-weight: 600;
}

.footer-heading-color{
    color: #080809;
    line-height: 2.2rem;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.list-style-item{
    color: #5E6282 !important;
    text-decoration: none !important;
    font-weight: 500 !important;
    font-size: 1.28rem !important;
}

footer.h5{
    color: #5E6282;
    font-size: 0.5rem !important;
}




@media screen and (min-width:375px){
    .menu-bar{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .menu-bar{
        display: none;
    }

    .bg-holder{
        top: -0.2rem;
    }

    .hero-image{
        float: right !important;
        width: 51.6667%;
        margin-left: 0;
        padding-top: 5rem;
        margin-right: -2rem;
    }

    .hero-description{
        padding-top: 5rem !important;
        text-align: left;
    }

    .tagline{
        font-size: 1.35rem;
    }
    
    .hero-title::before {
        right: 20.9375rem;
        top: 2.8rem;
        width: 19rem;
        height: 0.9125rem;
    }

    .desc{
        font-size: 1.2rem;
        margin-bottom: 0rem;
    }

    .cta{
        width: 30%;
        float: left;
    }

    .cta img{
        margin-left: -1.8rem;
    }

    .play-button{
        float: left;
        margin-left: -4rem;
    }

    .card{
        width: 50%;
        float: left;
    }

    .services{
        padding-bottom: 30rem;
    }

    .destinations{
        padding-bottom: 25rem;
    }

    .wrapper > .card{
        width: 33%;
        float: left;
        clear: none;
        padding-right: 1.8rem;
    }

    .top-footer > .mb-4{
        width: 50%;
        float: left;
    }

}

@media screen and (min-width:992px) {
    .logo{
        float: left;
        width: 25%;
    }

    .menu{
        display: none;
    }

    .menu-bar{
        font-weight: bold;
        display: block;
        margin: 0.6rem auto;
        float: right;
    }

    .menu-bar ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .menu-bar ul li{
        width: auto;
        float: left;
        padding: 0px 1rem;
    }
    .menu-bar ul li a{
        font-size: 1.1rem;
        font-weight: 600;
        color: black;
    }

    .btn-outline-dark {
        border-color: #212832;
        border: 1px solid #212832;
        border-radius: 0.2rem;
        padding: 0.3rem;
    }

    .bg-holder{
        top: -0.2rem;
    }

    .hero-image{
        float: right !important;
        width: 52.6667%;
        margin-left: 0;
        padding-top: 0rem;
        margin-right: 0rem;
    }

    .hero-title::before {
        right: 32.9375rem;
        top: 3.1rem;
    }

    .desc{
        font-size: 1.05rem;
    }
    
    .hero-content{
        padding-bottom: 15rem !important;
    }

    .section-desc{
        font-size: 3rem !important;
    }

    .card{
        width: 25%;
        float: left;
        overflow: auto;
    }

    .services{
        padding-bottom: 25rem;
    }

    .booking{
        padding-bottom: 35rem;
    }

    .top{
        width: 45%;
        float: left;
    }

    .section-desc{
        font-size: 2.8rem !important;
    }

    .bottom > .card{
        width: 50%;
        border: none;
        text-align: center;
        border-radius: 2.25rem !important;
        position: relative;
        background-color: #f8f3f3;
        background-clip: border-box;
    }

    .testimonial > .container > div {
        width: 50%;
        float: left;
    }

    .partners > .container >.card {
        max-width: 60rem;
        width: 100%;
    }

    .partners > .container >.card > .card-body {
        width: 20%;
        float: left;
    }

    .top-footer > .mb-4{
        width: 20%;
        float: left;
    }

}


